@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    height: 100vh;
    width: 100%;
    background: rgb(248, 243, 243);
}

#content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 12% 1fr;
}


.btn {
    font-size: 1rem;
    width: 100%;
    padding: 0.3rem 1rem;
    background: rgb(0, 154, 157);
    border: none;
    color: rgb(255, 255, 255);
}

.btn:hover {
    cursor: pointer;
    background: rgb(0, 205, 209);
    box-shadow: 0 0 0.5rem rgb(155, 155, 155);
}

/* header section */

.header {
    font-family: cursive, sans-serif;
    grid-area: 1 / 1 / 2 / 4;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    color: black;
    border-bottom: 0.3rem solid rgba(62, 174, 222, 0.757);
    padding-left: 3rem;
    box-shadow: 0px 10px 20px rgba(128, 128, 128, 0.217);
    background: url('./images/note.png') no-repeat;
    background-position: 12.5rem;
    background-size: 3.125rem;
}


/* project section */

.project-section {
    overflow: hidden;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    margin-left: 1rem;
    box-shadow: 0px 0px 0.5rem grey;
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    background: rgba(62, 174, 222, 0.324);
}

.project-section:hover {
    overflow-y: scroll;
    scrollbar-color: #909090 rgba(94, 166, 197, 0.324);
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.project {
    color: rgb(33, 33, 33);
    font-size: 1.1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.current-project {
    background: rgba(56, 185, 159, 0.38);
}

.project:hover {
    background: rgba(56, 185, 159, 0.141);
    cursor: pointer;
}

.current-project:hover {
    background: rgba(56, 185, 159, 0.38);
    cursor: auto;
}

.project div {
    width: 80%;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.project div p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

#project-form {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.2rem;
    padding: 1rem;
    background: #a7a7cb;
    box-shadow: 0 0 0.2rem rgb(71, 71, 71);
}

.project-submit-toggle {
    width: 2.5rem;
    height: 2.5rem;
    align-self: end;
}

.project-submit-toggle:hover {
    border-radius: 20rem;
    cursor: pointer;
    box-shadow: 0 0 0.3rem rgb(155, 155, 155);
}

.project-input {
    width: 100%;
    padding: 0.3rem 0.6rem;
    display: block;
    border: 0.1rem solid rgba(128, 128, 128, 0.633);
    border-radius: 0.3rem;
    font-size: 1rem;
}


.project-input:hover {
    border: 0.15rem solid rgba(0, 0, 0, 0.633);
}

.project-input:focus {
    outline: none;
    border: 0.15rem solid rgb(195, 0, 255);
    box-shadow: 0 0 5px rgb(155, 155, 155);
}

.project-input:valid {
    border: 0.15rem solid rgb(0, 255, 38);
}

.project-remove {
    height: 1.1rem;
    color: black;
}

.project-remove:hover {
    cursor: pointer;
}

.square-task-svg {
    border-radius: 100%;
    height: 1.5rem;
}


/* todo section */

.todos-container {
    overflow: hidden;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    grid-area: 2 / 2 / 3 / 3;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.todos-container:hover {
    overflow-y: scroll;
    scrollbar-color: #909090 rgba(208, 204, 204, 0.695);
    ;
}

.todos-container h3 {
    font-size: 1.5rem;
    align-self: center;
}

.todo-container {
    display: grid;
    grid-template-columns: 2rem 1fr 1fr;
    grid-template-rows: 60% 40%;
    padding: 0.7rem;
    align-items: center;
    justify-items: start;
}

.low {
    border-top: #A1C398 0.5rem solid;
}

.medium {
    border-top: 0.5rem #d2cd3b solid;
}

.high {
    border-top: 0.5rem solid #FA7070;
}


.todo-container:hover {
    background: rgb(230, 230, 230);
}

.todo-container p:nth-child(1) {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    grid-area: 1 / 2 / 2 / 3;
}

.todo-container p:nth-child(2) {
    color: rgb(135, 135, 135);
    font-size: 0.85rem;
    grid-area: 2 / 2 / 3 / 3;
}

.todo-remove {
    cursor: pointer;
    grid-area: 1 / 3 / 3 / 4;
    height: 1.5rem;
    justify-self: end;
}

.complete-todo {
    grid-area: 1 / 1 / 3 / 2;
    height: 1.3rem;
    width: 1.3rem;
    border: 2px solid rgb(49, 49, 49);
    border-radius: 100%;
    position: relative;
}


.complete-todo:hover::after {
    display: block;
    content: "";
    position: absolute;
    top: 5%;
    left: 25%;
    height: 0.5rem;
    width: 0.3rem;
    border-bottom: 0.2rem solid grey;
    border-right: 0.2rem solid grey;
    transform: rotate(45deg);
}

.complete-todo:active::after {
    border-bottom: 0.2rem solid green;
    border-right: 0.2rem solid green;
}

.check::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 25%;
    height: 0.5rem;
    width: 0.3rem;
    border-bottom: 0.2rem solid green;
    border-right: 0.2rem solid green;
    transform: rotate(45deg);
}

.todo-container:has(.check) {
    color: rgb(127, 127, 127);
    border-top: 0.5rem solid #797979
}

.todo-container:has(.check) p:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    border-bottom: 0.2rem solid gray;
}

/* todo form */

#todo-form-section {
    grid-area: 2 / 3 / 3 / 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
}

.todo-form-toggle {
    width: 2.5rem;
    height: 2.5rem;
}

.todo-form-toggle:hover {
    border-radius: 20rem;
    cursor: pointer;
    box-shadow: 0 0 0.3rem rgb(155, 155, 155);
}

#todo-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
    background: rgba(11, 182, 168, 0.468);
    box-shadow: 0 0 0.2rem rgb(71, 71, 71);
}

#todo-form ul {
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#todo-form li {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

#todo-form label {
    font-size: 1rem;
    font-weight: 500;
}

#todo-form input,
select {
    border: rgb(193, 193, 193) 1px solid;
    width: 100%;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.4rem;
}

#todo-form input:focus,
select:focus {
    border: 1px solid black;
    outline: none;
    box-shadow: 0 0 3px rgb(175, 175, 175);
}

#todo-form input:valid,
select:valid {
    border: 1px solid rgb(0, 255, 38);
}

#todo-form input:invalid,
select:invalid {
    border: 1px solid rgb(255, 0, 34);
}



@media only screen and (max-width: 1024px) {

    /* header */
    .header {
        background-size: 2.7rem;
        background-position: 10.7rem;
        padding-left: 2.5rem;
    }

    .header-logo {
        font-size: 1.7rem;
    }

    /* project section */
    .project-section {
        gap: 1rem;
        padding: 0.8rem;
    }

    .project {
        font-size: 1rem;
        padding: 0.4rem;
    }

    .project-remove {
        height: 1rem;
    }

    .square-task-svg {
        height: 1.3rem;
    }

    .project-submit-toggle {
        width: 2.2rem;
        height: 2.2rem;
    }

    #project-form {
        padding: 0.8rem;
    }

    /* todo section */
    .todos-container {
        padding: 0.8rem;
        gap: 0.8rem;
    }

    .todos-container h3 {
        font-size: 1.3rem;
    }

    .todo-container {
        grid-template-columns: 1.7rem 1fr 1fr;
        padding: 0.6rem;
    }

    .low {
        border-top: #A1C398 0.4rem solid;
    }

    .medium {
        border-top: 0.4rem #d2cd3b solid;
    }

    .high {
        border-top: 0.4rem solid #FA7070;
    }

    .todo-container:has(.check) {
        border-top: 0.4rem solid;
    }

    .complete-todo {
        height: 1.2rem;
        width: 1.2rem;
    }

    .complete-todo:hover::after {
        height: 0.5rem;
        width: 0.3rem;
        border-bottom: 0.15rem solid grey;
        border-right: 0.15rem solid grey;
    }

    .complete-todo:active::after {
        border-bottom: 0.15rem solid green;
        border-right: 0.15rem solid green;
    }

    .check::after {
        border-bottom: 0.15rem solid green;
        border-right: 0.15rem solid green;
    }

    .todo-container:has(.check) p:nth-child(1)::after {
        border-bottom: 0.15rem solid gray;
    }



    /* todo form */
    #todo-form-section {
        padding: 0.8rem;
    }

    .todo-form-toggle {
        width: 2.2rem;
        height: 2.2rem;
    }

    #todo-form {
        padding: 0.8rem;
    }

    #todo-form input,
    select {
        font-size: 0.9rem;
        padding: 0.3rem;
    }
}

@media only screen and (max-width: 768px) {
    #content {
        grid-template-columns: 30% 60% 10%;
        position: relative;
    }

    .header {
        background-size: 2.4rem;
        background-position: 9.5rem;
        padding-left: 2.3rem;
    }

    .header-logo {
        font-size: 1.5rem;
    }

    .low {
        border-top: #A1C398 0.3rem solid;
    }

    .medium {
        border-top: 0.3rem #d2cd3b solid;
    }

    .high {
        border-top: 0.3rem solid #FA7070;
    }

    .todo-container:has(.check) {
        border-top: 0.3rem solid;
    }


    #todo-form {
        position: absolute;
        z-index: 10;
        top: 20%;
        right: 1rem;
        width: 11rem;
        background: rgb(103, 201, 193);
    }
}

@media only screen and (max-width: 425px) {

    .btn {
        font-size: 0.7rem;
        padding: 0.2rem 0.2rem;
    }

    /* header */
    .header {
        background-size: 2rem;
        background-position: 8.8rem;
        padding-left: 2rem;
    }

    .header-logo {
        font-size: 1.4rem;
    }

    /* project section */
    .project-section {
        gap: 0.5rem;
        padding: 0.5rem;
        margin-left: 0.5rem;
    }

    .project {
        font-size: 0.8rem;
        padding: 0.3rem;
    }

    .project div {
        gap: 0.2rem;
        width: 90%;
    }

    .project-remove {
        height: 0.8rem;
    }

    .square-task-svg {
        height: 1rem;
    }

    .project-submit-toggle {
        width: 1.8rem;
        height: 1.8rem;
    }

    #project-form {
        padding: 0.5rem;
    }

    .project-input {
        padding: 0.2rem 0.4rem;
        font-size: 0.8rem;
    }

    /* todo section */
    .todos-container {
        padding: 0.5rem;
        gap: 0.4rem;
    }

    .todos-container h3 {
        font-size: 1.1rem;
    }

    .todo-container {
        padding: 0.5rem;
    }

    .low {
        border-top: #A1C398 0.2rem solid;
    }

    .medium {
        border-top: 0.2rem #d2cd3b solid;
    }

    .high {
        border-top: 0.2rem solid #FA7070;
    }

    .todo-container:has(.check) {
        border-top: 0.2rem solid;
    }

    .todo-container p:nth-child(1) {
        font-size: 0.8rem;
    }

    .todo-container p:nth-child(2) {
        font-size: 0.65rem;
    }

    .todo-remove {
        height: 1.3rem;
    }

    .complete-todo {
        height: 1rem;
        width: 1rem;
    }

    .complete-todo:hover::after {
        height: 0.4rem;
        width: 0.2rem;
    }

    .check::after {
        top: 0;
    }

    /* todo form */
    #todo-form-section {
        padding: 0.5rem;
    }

    .todo-form-toggle {
        width: 1.8rem;
        height: 1.8rem;
    }

    #todo-form {
        width: 8rem;
        padding: 0.5rem;
        gap: 0.3rem;
    }

    #todo-form ul {
        gap: 0.3rem;
    }

    #todo-form li {
        gap: 0.1rem;
    }

    #todo-form label {
        font-size: 0.8rem;
    }

    #todo-form input,
    select {
        font-size: 0.8rem;
        padding: 0.2rem;
    }
}